.accesso #invalidDataWarning h3{
    font: 22px "Ariel", Verdana, sans-serif;
    color: #3B5998;
}


@media only screen and (min-width: 1024px){

body{   
     background-color: #3B5998;
     font: 17px/25px "Ariel",  Verdana, sans-serif;
     color: #ffffff;
}

h1{
    font: 30px "Ariel", Verdana, sans-serif;
    font-weight: bold;
    text-align: left;
    color: #ffffff;
    padding-left: 50px;
    padding-right: 62px;
}

a:link, a:visited{
    font: 22px "Ariel", Verdana, sans-serif;
    text-decoration: none;
    color: #ffffff;
    padding-left: 20px;
    
}

#navBar ul li .active{
    font-weight: bold;
    font: 30px "Ariel", Verdana, sans-serif
    
}

#navBar a:hover{
       font-weight: bold;
       color: #e0ebeb;
}

#segnaposto a:visited, #segnaposto a:link{
    font: 22px "Ariel", Verdana, sans-serif;
    text-decoration: none;
    color: #3B5998;
}
header{
    border-bottom: 5px solid #ffffff;
}
#title{
      display: inline-block;
}

#navBar, #navBar ul, #navBar li{
    display: inline-block;
    padding-left: 40px;
}

.post{
    border-bottom: 5px solid #ffffff;
    border-left: 5px solid #ffffff;
    border-top: 5px solid #ffffff;
    border-right: 5px solid #ffffff;
    margin-bottom: 10px;
    margin-left: 500px;
    margin-right: 200px;
    margin-top: 10px;
    padding-top: 25px;
    padding-bottom: 100px;
    padding-left: 15px;
    
}
.post img{
    height: 70px;
    width: 70px;
    float: left;
    display: inline-block;
}
.post h3{
    font-size: 30px;
    display: inline-block;
}
#testo{
    padding-left: 430px;
    margin-top: 70px;
    font: 50px "Ariel",  Verdana, sans-serif;
    font-weight: bold;
}
.accesso{
    border-bottom: 5px solid #ffffff;
    border-left: 5px solid #ffffff;
    border-top: 5px solid #ffffff;
    border-right: 5px solid #ffffff;
    margin-bottom: 10px;
    margin-left: 400px;
    margin-right: 400px;
    margin-top: 20px;
    padding-top: 15px;
    padding-bottom: 100px;
    padding-left: 150px;
    background-color: #ffffff;
    border-radius: 15px;
    width: 500px;
}

#post label:after{
    content: '\A';
    white-space: pre;
}

#post label:before{
    content: '\A';
    white-space: pre;
}

#post input:focus, #datiAnagrafici input:focus{
   outline: none;
   border-color: #3B5998;
   box-shadow: 0 0 20px yellow;
}

form button{
    width: 354px;
    height: 40px;
    margin-top: 10px;
    background-color: #3B5998;
    color: #ffffff;
    font-weight: bold;
}
#post label{
    font: 45px "Ariel", Verdana, sans-serif;
    padding-bottom: 10px;
    color: #3B5998;
}

#post input:after{
    content: '\A';
    white-space: pre;
}

#post input, #datiAnagrafici input, #idBody #nuovoPost input#nuovo, #idBody #nuovoPost input#allegato{
    height: 30px;
    width: 350px;
}

#post:after{
     content: '\A';
     white-space: pre;
    
}
#testo img{
    height: 70px;
    width: 110px;
    padding-right: 100px;
}

#regolamento a:link, #regolamento a:visited{
    font: 22px "Ariel", Verdana, sans-serif;
    text-decoration: none;
    color: #3B5998;
}
#regolamento a:hover{
    font-weight: bold;
}


#idBody #datiAnagrafici{
    border-bottom: 5px solid #ffffff;
    border-left: 5px solid #ffffff;
    border-top: 5px solid #ffffff;
    border-right: 5px solid #ffffff;
    margin-bottom: 10px;
    margin-left: 460px;
    margin-right: 250px;
    margin-top: 10px;
    padding-top: 15px;
    padding-bottom: 100px;
    padding-left: 150px;
    background-color: #ffffff;
    border-radius: 15px;
    color: #3B5998;
    font: 30px "Ariel", Verdana, sans-serif;
    width: 500px;
}
#idBody #datiAnagrafici label::after, #colonna label::after, #colonna label::before{
    content: '\A';
    white-space: pre;
}
#idBody #datiAnagrafici label::before{
    content: '\A';
    white-space: pre;
}

#colonna{
    float: left;
    border: 5px solid #ffffff;
    border-radius: 15px;
    margin-top: 10px;
    margin-left: 5px;
    padding-right: 5px;
    padding-left: 5px;
    padding-top:5px;
    background-color: #ffffff;
    color: #3B5998;
}
#colonna a{
    color: #3B5998;
}

#colonna img{
    height: 30px;
    width: 30px;
}
#colonna a::after{
    content: '\A';
    white-space: pre;
}
#colonna label{
    font: 20px "Ariel", Verdana, sans-serif;
    font-weight: bold;
}
#colonna button{
    height: 20px;
    width: 50px;
}

.immagineProfilo{
    height: 200px;
    width: 200px;
    float: left;
    margin-left: 10px;
    margin-top: 10px;
}

.immagineProfilo img{
    height: 190px;
    width: 190px;
}


#idBody #nuovoPost{
    border-bottom: 5px solid #ffffff;
    border-left: 5px solid #ffffff;
    border-top: 5px solid #ffffff;
    border-right: 5px solid #ffffff;
    margin-bottom: 10px;
    margin-left: 460px;
    margin-right: 250px;
    margin-top: 10px;
    background-color: #ffffff;
    border-radius: 15px;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 100px;
    color: #3B5998;
    font: 20px "Ariel", Verdana, sans-serif;
    width: 500px;
}

#idBody #nuovoPost img{
    height: 30px;
    width: 30px;
}

#idBody #nuovoPost input#nuovo, #idBody #nuovoPost input#allegato{
    margin-bottom: 10px;
}

#idBody #nuovoPost button, #idBody #nuovoPost input#img{
    margin-left: 30px;
}

#regolamento, #idBodyinf, #infoo{
    border: 5px #ffffff solid;
    padding-bottom: 10px;
    background-color: #ffffff;
    color: #3B5998;
    border-radius: 15px;
    padding-left: 30px;
    margin-left: 50px;
    margin-right: 50px;
    margin-top: 20px;
    margin-bottom: 20px;  
}

.post{
    border-bottom: 5px solid #ffffff;
    border-left: 5px solid #ffffff;
    border-top: 5px solid #ffffff;
    border-right: 5px solid #ffffff;
    margin-bottom: 10px;
    margin-left: 460px;
    margin-right: 250px;
    margin-top: 10px;
    padding-top: 15px;
    padding-bottom: 20px;
    padding-left: 30px;
    background-color: #ffffff;
    border-radius: 15px;
    color: #3B5998;
    font: 20px "Ariel", Verdana, sans-serif;
    width: 570px;
}
.post h3{
    font: 30px "Ariel", Verdana, sans-serif;
    font-weight: bold;
}
.post p{
    padding-left: 50px;
}
.post a{
    color: #3B5998;
}
.post a:hover{
    color: #3B5998;
    font-weight: bold;
}
.immagine{
    
    margin-bottom: 10px;
    margin-right: 250px;
    margin-top: 10px;
    padding-top: 15px;
    padding-bottom: 500px;
    padding-left: 25px;
}
.immagine img{
    width: 500px;
    height: 500px;
}
}
@media only screen and (max-width: 480px){

body{   
     background-color: #3B5998;
     font: 13px/25px "Ariel",  Verdana, sans-serif;
     color: #ffffff;
     width: 480px;
}

h1{
    font: 20px "Ariel", Verdana, sans-serif;
    font-weight: bold;
    text-align: left;
    color: #ffffff;
    padding-left: 10px;
    padding-right: 10px;
    border-right: 2px solid #ffffff;
}

a:link, a:visited{
    font: 15px "Ariel", Verdana, sans-serif;
    text-decoration: none;
    color: #ffffff;
    padding-left: 10px;
    
}

#navBar ul li .active{
    font-weight: bold;
    font: 20px "Ariel", Verdana, sans-serif
    
}

#navBar a:hover{
       font-weight: bold;
       color: #e0ebeb;
}

#segnaposto a:visited, #segnaposto a:link{
    font: 15px "Ariel", Verdana, sans-serif;
    text-decoration: none;
    color: #3B5998;
}

header{
    border-bottom: 2px solid #ffffff;
}
#title{
      display: inline-block;
}

#navBar, #navBar ul, #navBar li{
    display: inline-block;
    padding-left: 0px;
}

.post{
    border-bottom: 5px solid #ffffff;
    border-left: 5px solid #ffffff;
    border-top: 5px solid #ffffff;
    border-right: 5px solid #ffffff;
    padding-top: 25px;
    padding-bottom: 100px;
    padding-left: 15px;
}
.post img{
    height: 30px;
    width: 30px;
    float: left;
    display: inline-block;
}
.post h3{
    font-size: 15px;
    display: inline-block;
}
#testo{
    padding-left: 20px;
    margin-top: 70px;
    font: 30px "Ariel",  Verdana, sans-serif;
    font-weight: bold;
}
.accesso{
    border-bottom: 5px solid #ffffff;
    border-left: 5px solid #ffffff;
    border-top: 5px solid #ffffff;
    border-right: 5px solid #ffffff;
    margin-left: 20px;
    margin-bottom: 10px;
    background-color: #ffffff;
    border-radius: 15px;
    padding-left: 100px;
    padding-right: 10px;
    padding-bottom: 50px;
    width: 250px;
}

#post label:after{
    content: '\A';
    white-space: pre;
}

#post label:before{
    content: '\A';
    white-space: pre;
}

#post input:focus, #datiAnagrafici input:focus{
   outline: none;
   border-color: #3B5998;
   box-shadow: 0 0 20px yellow;
}

form button{
    width: 100px;
    height: 30px;
    margin-top: 10px;
    background-color: #3B5998;
    color: #ffffff;
    font-weight: bold;
}
#post label{
    font: 20px "Ariel", Verdana, sans-serif;
    padding-bottom: 10px;
    color: #3B5998;
}

#post input:after{
    content: '\A';
    white-space: pre;
}

#post input, #datiAnagrafici input, #idBody #nuovoPost input#nuovo, #idBody #nuovoPost input#allegato{
    height: 20px;
    width: 150px;
}

#post:after{
     content: '\A';
     white-space: pre;
    
}
#testo img{
    height: 40px;
    width: 80px;
    padding-right: 50px;
}

#regolamento a:link, #regolamento a:visited{
    font: 15px "Ariel", Verdana, sans-serif;
    text-decoration: none;
    color: #3B5998;
}
#regolamento a:hover{
    font-weight: bold;
}


#idBody #datiAnagrafici{
    border-bottom: 5px solid #ffffff;
    border-left: 5px solid #ffffff;
    border-top: 5px solid #ffffff;
    border-right: 5px solid #ffffff;
    margin-bottom: 10px;
    margin-top: 10px;
    padding-top: 15px;
    padding-bottom: 100px;
    padding-left: 50px;
    padding-right: 30px;
    background-color: #ffffff;
    border-radius: 15px;
    color: #3B5998;
    font: 20px "Ariel", Verdana, sans-serif;
    width: 250px;
    float: left;
    margin-left: 40px;
}
#idBody #datiAnagrafici label::after, #colonna label::after, #colonna label::before {
    content: '\A';
    white-space: pre;
}
#idBody #datiAnagrafici label::before{
    content: '\A';
    white-space: pre;
}

#colonna{
    border: 5px solid #ffffff;
    border-radius: 15px;
    margin-top: 10px;
    margin-left: 40px;
    padding-right: 5px;
    padding-left: 5px;
    padding-top:5px;
    background-color: #ffffff;
    color: #3B5998;
    width: 270px;
    margin-right: 20px;
}
#colonna a{
    color: #3B5998;
}

#colonna img{
    height: 30px;
    width: 30px;
}
#colonna a::after{
    content: '\A';
    white-space: pre;
}
#colonna label{
    font: 20px "Ariel", Verdana, sans-serif;
    font-weight: bold;
}
#colonna button{
    height: 20px;
    width: 50px;
}

.immagineProfilo{
    height: 100px;
    width: 100px;
    margin-right: 100px;
    margin-top: 10px;
    margin-left: 60px;
    margin-bottom: 50px;
}

.immagineProfilo img{
    height: 150px;
    width: 150px;
}


#idBody #nuovoPost{
    border-bottom: 5px solid #ffffff;
    border-left: 5px solid #ffffff;
    border-top: 5px solid #ffffff;
    border-right: 5px solid #ffffff;
    margin-bottom: 10px;
    margin-top: 10px;
    padding-top: 15px;
    padding-bottom: 20px;
    padding-left: 20px;
    padding-right: 30px;
    background-color: #ffffff;
    border-radius: 15px;
    color: #3B5998;
    font: 20px "Ariel", Verdana, sans-serif;
    width: 230px;
    height: 200px;
    float: left;
    margin-left: 40px;
}

#idBody #nuovoPost img{
    height: 30px;
    width: 30px;
}

#idBody #nuovoPost input#nuovo, #idBody #nuovoPost input#allegato{
    margin-bottom: 10px;
}

#idBody #nuovoPost button, #idBody #nuovoPost input#img{
    margin-left: 30px;
}

#regolamento, #idBodyinf, #infoo{
    border: 5px #ffffff solid;
    padding-bottom: 10px;
    background-color: #ffffff;
    color: #3B5998;
    border-radius: 15px;
    padding-left: 30px;
    margin-left: 10px;
    margin-right: 50px;
    margin-top: 20px;
    margin-bottom: 20px;  
}

.post{
    border-bottom: 5px solid #ffffff;
    border-left: 5px solid #ffffff;
    border-top: 5px solid #ffffff;
    border-right: 5px solid #ffffff;
    margin-bottom: 10px;
    margin-top: 10px;
    padding-top: 15px;
    padding-bottom: 20px;
    padding-left: 20px;
    padding-right: 30px;
    background-color: #ffffff;
    border-radius: 15px;
    color: #3B5998;
    font: 20px "Ariel", Verdana, sans-serif;
    width: 230px;
    height: 150px;
    float: left;
    margin-left: 40px;
}
.post h3{
    font: 15px "Ariel", Verdana, sans-serif;
    font-weight: bold;
}
.post p{
    padding-left: 30px;
}
.post a{
    color: #3B5998;
}
.post a:hover{
    color: #3B5998;
    font-weight: bold;
}
.immagine{
    margin-left: 50px;
    margin-bottom: 20px;
    margin-right: 0px;
    margin-top: 00px;
    padding-top: 0px;
    padding-bottom: 10px;
    padding-left: 2px;
    height: 100px;
    width: 100px;
}
.immagine img{
    width: 100px;
    height: 100px;
}
}

@media only screen and (min-width: 480px)
                    and (max-width: 1024px){


body{   
     background-color: #3B5998;
     font: 14px/25px "Ariel",  Verdana, sans-serif;
     color: #ffffff;
}

h1{
    font: 25px "Ariel", Verdana, sans-serif;
    font-weight: bold;
    text-align: left;
    color: #ffffff;
    padding-left: 35px;
}

a:link, a:visited{
    font: 18px "Ariel", Verdana, sans-serif;
    text-decoration: none;
    color: #ffffff;
    
}

#navBar ul li .active{
    font-weight: bold;
    font: 25px "Ariel", Verdana, sans-serif
    
}

#navBar a:hover{
       font-weight: bold;
       color: #e0ebeb;
}

#segnaposto a:visited, #segnaposto a:link{
    font: 18px "Ariel", Verdana, sans-serif;
    text-decoration: none;
    color: #3B5998;
}
header{
    border-bottom: 5px solid #ffffff;
}
#title{
      display: inline-block;
}

#navBar, #navBar ul, #navBar li{
    display: inline-block;
    padding-left: 20px;
}

.post{
    border-bottom: 5px solid #ffffff;
    border-left: 5px solid #ffffff;
    border-top: 5px solid #ffffff;
    border-right: 5px solid #ffffff;
    margin-bottom: 10px;
    margin-left: 10px;
    margin-right: 200px;
    margin-top: 10px;
    padding-top: 25px;
    padding-bottom: 100px;
    padding-left: 15px;
    
}
.post img{
    height: 70px;
    width: 70px;
    float: left;
    display: inline-block;
}
.post h3{
    font-size: 30px;
    display: inline-block;
}
#testo{
    padding-left: 10px;
    margin-top: 70px;
    font: 30px "Ariel",  Verdana, sans-serif;
    font-weight: bold;
}
.accesso{
    border-bottom: 5px solid #ffffff;
    border-left: 5px solid #ffffff;
    border-top: 5px solid #ffffff;
    border-right: 5px solid #ffffff;
    margin-bottom: 10px;
    margin-left: 10%;
    margin-right: 400px;
    margin-top: 20px;
    padding-top: 15px;
    padding-bottom: 50px;
    padding-left: 50px;
    background-color: #ffffff;
    border-radius: 15px;
    width: 300px;
}

#post label:after{
    content: '\A';
    white-space: pre;
}

#post label:before{
    content: '\A';
    white-space: pre;
}

#post input:focus, #datiAnagrafici input:focus{
   outline: none;
   border-color: #3B5998;
   box-shadow: 0 0 20px yellow;
}

form button{
    width: 254px;
    height: 40px;
    margin-top: 10px;
    background-color: #3B5998;
    color: #ffffff;
    font-weight: bold;
}
#post label{
    font: 25px "Ariel", Verdana, sans-serif;
    padding-bottom: 10px;
    color: #3B5998;
}

#post input:after{
    content: '\A';
    white-space: pre;
}

#post input, #datiAnagrafici input, #idBody #nuovoPost input#nuovo, #idBody #nuovoPost input#allegato{
    height: 30px;
    width: 250px;
}

#post:after{
     content: '\A';
     white-space: pre;
    
}
#testo img{
    height: 50px;
    width: 90px;
    padding-right: 50px;
    margin-left: 50px;
}

#regolamento a:link, #regolamento a:visited{
    font: 22px "Ariel", Verdana, sans-serif;
    text-decoration: none;
    color: #3B5998;
}
#regolamento a:hover{
    font-weight: bold;
}


#idBody #datiAnagrafici{
    border-bottom: 5px solid #ffffff;
    border-left: 5px solid #ffffff;
    border-top: 5px solid #ffffff;
    border-right: 5px solid #ffffff;
    margin-bottom: 10px;
    margin-left: 320px;
    margin-right: 160px;
    margin-top: 10px;
    padding-top: 15px;
    padding-bottom: 100px;
    padding-left: 50px;
    background-color: #ffffff;
    border-radius: 15px;
    color: #3B5998;
    font: 20px "Ariel", Verdana, sans-serif;
    width: 300px;
}
#idBody #datiAnagrafici label::after, #colonna label::after, #colonna label::before{
    content: '\A';
    white-space: pre;
}
#idBody #datiAnagrafici label::before{
    content: '\A';
    white-space: pre;
}

#colonna{
    float: left;
    border: 5px solid #ffffff;
    border-radius: 15px;
    margin-top: 10px;
    margin-left: 5px;
    padding-right: 5px;
    padding-left: 5px;
    padding-top:5px;
    background-color: #ffffff;
    color: #3B5998;
    width: 180px;
}
#colonna a{
    color: #3B5998;
}

#colonna img{
    height: 20px;
    width: 20px;
}
#colonna a::after{
    content: '\A';
    white-space: pre;
}
#colonna label{
    font: 15px "Ariel", Verdana, sans-serif;
    font-weight: bold;
}
#colonna button{
    height: 20px;
    width: 50px;
}

.immagineProfilo{
    height: 100px;
    width: 100px;
    float: left;
    margin-left: 10px;
    margin-top: 10px;
}

.immagineProfilo img{
    height: 100px;
    width: 100px;
}


#idBody #nuovoPost{
    border-bottom: 5px solid #ffffff;
    border-left: 5px solid #ffffff;
    border-top: 5px solid #ffffff;
    border-right: 5px solid #ffffff;
    margin-bottom: 10px;
    margin-left: 260px;
    margin-right: 250px;
    margin-top: 10px;
    background-color: #ffffff;
    border-radius: 15px;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 100px;
    color: #3B5998;
    font: 20px "Ariel", Verdana, sans-serif;
    width: 350px;
}

#idBody #nuovoPost img{
    height: 20px;
    width: 20px;
}

#idBody #nuovoPost input#nuovo, #idBody #nuovoPost input#allegato{
    margin-bottom: 10px;
}

#idBody #nuovoPost button, #idBody #nuovoPost input#img{
    margin-left: 30px;
}

#regolamento, #idBodyinf, #infoo{
    border: 5px #ffffff solid;
    padding-bottom: 10px;
    background-color: #ffffff;
    color: #3B5998;
    border-radius: 15px;
    padding-left: 30px;
    margin-left: 50px;
    margin-right: 50px;
    margin-top: 20px;
    margin-bottom: 20px;  
}

.post{
    border-bottom: 5px solid #ffffff;
    border-left: 5px solid #ffffff;
    border-top: 5px solid #ffffff;
    border-right: 5px solid #ffffff;
    margin-bottom: 10px;
    margin-left: 260px;
    margin-right: 250px;
    margin-top: 10px;
    padding-top: 15px;
    padding-bottom: 20px;
    padding-left: 30px;
    background-color: #ffffff;
    border-radius: 15px;
    color: #3B5998;
    font: 15px "Ariel", Verdana, sans-serif;
    width: 423px;
}
.post h3{
    font: 20px "Ariel", Verdana, sans-serif;
    font-weight: bold;
}
.post p{
    padding-left: 50px;
}
.post a{
    color: #3B5998;
}
.post a:hover{
    color: #3B5998;
    font-weight: bold;
}
.immagine{
    
    margin-bottom: 10px;
    margin-right: 250px;
    margin-top: 10px;
    padding-top: 15px;
    padding-bottom: 200px;
    padding-left: 100px;
}
.immagine img{
    width: 200px;
    height: 200px;
}
}  

